/* Scroll bar*/
/* 
::-webkit-scrollbar {
    width: 10px;
  }
  
 
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  
  ::-webkit-scrollbar-thumb {
    background: rgb(77, 2, 2); 
  }
  
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
*/


/* COLOR VARIABLES
============================================= */
$blue: #17A4E3;
$dark:rgb(40, 112, 146);
$green:#2e93d7;


/* GRADIENT LIST
============================================= */
$list3: $blue 0%,$blue 10%,$green 25%,$green 39%,$dark 79%,$dark 100%; 

@mixin gradient($direction, $list) { 
  background: -webkit-linear-gradient($direction, $list);
  background: -moz-linear-gradient($direction, $list);
  background: -o-linear-gradient($direction, $list);
  background: linear-gradient($direction, $list);  
}

body {
  height: auto;

}
*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}



.btn-default {
  @include gradient(left,$list3);
  color: white;
  border: 0;
  border-radius: 2em;
  cursor: pointer;
  padding: 0.7em 2em;
  width: 200px;
}



.home {
  position: relative;
  display: inline-block;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 0.8rem;
  line-height: 1;
  letter-spacing: 0.2rem;
  text-align: center;
}
.container #navigation a{
    text-decoration: none;
    color: #fff;
    padding: 20px 15px 0 0;
    font-size: 20px;
}
.container #navigation{
    margin: 20px 0 0 0;
}
 #header{
  position: absolute;
  max-width: 100%;
  height: auto;
  z-index: -1;
   
}
#SloganText {
  margin-top: 15%;
  font-family: 'Roboto';
}

#headerText{
    color: #fff;
}
// #headerText a{
//     color: #fff;
//     text-decoration: none;
//     padding: 20px 20px 0 40px;
//     font-size: 17px;
//     letter-spacing: 2px;
// }

#arrowDown{
  margin: 15% 120px 0 0;
}
#textBoard{
  margin: 400px;
  color: #fff;
}
#schoolBoard {
  background-image: url(/img/Home_2.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

#nameCards{
  
}
